.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/c732cb00-be61-4d64-b8c3-99f022e7a123/8af3fce9-14f2-4fda-a923-1e8e4aa2e38b/NG-en-20220620-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
  background-size: cover;
  position: relative;

  .top {
    .wrapper {
      padding: 20px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .logo {
        height: 40px;
        z-index: 100;
        cursor: pointer;
      }

      .loginButton {
        background-color: red;
        border: none;
        color: white;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer !important;
        text-decoration: none;
        z-index: 100;
      }
    }
  }

  .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 50px;
      color: white !important;
    }

    h2 {
      margin: 20px;
      color: white !important;
    }

    p {
      font-size: 20px;
      color: white !important;
    }

    .input {
      width: 50%;
      background-color: white !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      height: 50px;
      border-radius: 5px;

      input {
        flex: 9;
        height: 100%;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0 10px;
      }

      .registerButton {
        flex: 3;
        height: 100%;
        background-color: red;
        border: none;
        color: white;
        font-size: 20px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.profileContainer {
  background-color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .profileInner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      color: white !important;
    }
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;

    .img-item {
      width: 200px;
      height: 200px;
      border-radius: 10px;
      margin: 0px 10px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .color {
    color: red;
  }
}

@media (max-width: 900px) {
  .register .container h1 {
    font-size: 40px;
    text-align: center;
  }
  .register .container h2 {
    margin: 10px;
  }
  .register .container p {
    font-size: 18px;
    text-align: center;
  }
  .register .container .input {
    width: 80%;
  }
}
@media (max-width: 895px) {
  .profileContainer .img-container .img-item {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 500px) {
  .profileContainer .img-container {
    height: 25vh;
  }
  .profileContainer .img-container .img-item {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .register .container h1 {
    font-size: 30px;
  }
  .register .container h2 {
    margin: 10px;
    font-size: 18px;
  }
  .register .container p {
    font-size: 13px;
    text-align: center;
  }
  .register .container .input .registerButton {
    font-size: 17px;
  }
  .register .top .wrapper {
    padding: 20px;
  }
  .register .top .wrapper .logo {
    height: auto;
    width: 30%;
  }
  .register .container .input {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 10px;
    background-color: transparent !important;
  }
  .register .container .input input {
    height: 50px !important;
    width: 100%;
    flex: auto;
    margin-top: 10px;
  }
  .register .container .input .registerButton {
    height: 40px;
    flex: auto;
    width: 100%;
    margin-top: 20px;
  }
}
